* {
    box-sizing:border-box
}


/* whole body of the html*/
body {
    background-color: rgb(152, 0, 0);
}

.container-block {
    text-align: center;
    background-color: rgb(164, 164, 255);
    margin: 30px;
}

main {
    margin: 10px;
    background-color: aqua;
}

ul {
    list-style: none;
}

.intro-header {

}

.image-intro {
    width: 300px;
    box-shadow: 2px 2px 5px;
    border-radius: 2px 2px 10px;
}